*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    text-decoration: none;
    border: none;
    outline: none;
}
html{
    height: 100%;
}
body{
    min-height: 100vh;
    background-color: #ECB365;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    margin: 0px auto;
    height: 100%;
}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #064663;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: max-content;
    box-shadow: 5px 5px 10px 3px #000000bf;
}
.container div{
    text-align: center;
}
.appContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #064663;
    border-radius: 10px;
}
.nameInput{
    width: 80%;
    padding: 18px;
    font-size: 15px;
    font-weight: lighter;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    /* display: none; */
}
h1{
    color: #ECB365;
}
form{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
i{
    color: white;
    font-size: x-large;
}
i:hover{
    cursor: pointer;
}
.buttons button{
    background-color: #064663;
}
.insultBtn{
    background-color: #ECB365;
    width: 40%;
    padding: 10px;
    border-radius: 3px;
    display: none;
    width: 60%;
    color: #064663;
    box-shadow: 0 0 5px 1px #000000bf;
}
.insultBtn:hover{
    transition: 0.3s;
    box-shadow: none;
    background-color: #0578ad;
    color: azure;
}
.insultainer{
    display: none;
    margin-top: 5px;
}
.insult, .owner{
    color: #ECB365;
    margin: 0 10px;
}


